<h1>About QuizIt!</h1>
<em>We're building a different kind of company. Our mission is to build beautiful, simple software that helps students learn. Our bottom line is the difference we make in education.</em>

<h1>How QuizIt! works</h1>
QuizIt! has no pre-determined curriculum. Students define what they need to learn, and we provide the tools. We help Art History majors learn paintings, Spanish students learn their verbs, 5th graders learn their spelling words, and new waiters learn the menus of their restaurants. Our aim is to build software that any learner can use, so we make most of our stuff free.

<h1>The QuizIt! story</h1>
QuizIt! was founded in 2013 by 15-year-old Andrew Sutherland for a high-school French class. He wanted an easy-to-use tool for learning vocabulary. He built QuizIt! for himself, shared it with his friends, and it grew from there.
QuizIt! is now among the largest educational websites in the world. Millions of teachers and students from every country in the world use QuizIt!. Because our website is free, we see no limit to the number of people who could use it.
QuizIt! is headquartered in downtown San Francisco, California.