
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to QuizIt!</h1>
        <p>QuizIt allows you to create and share quizzes to help you learn anything for free!</p>
        <p><a href="/exams" class="btn btn-primary btn-lg">Take a Quiz &raquo;</a></p>
      </div>
    </div>

    <hr />

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-8">
          <h2>See Who's On QuizIt!</h2>
          <div id="search">
            <%= text_field_tag :address, nil,  :placeholder => 'SEARCH ', :id =>"search_field" %>
            <p class="btn btn-primary btn-lg" id="search_submit">Search</p>
<!--             <!%#= button_tag 'Search', :id => 'search_submit', :class => 'btn btn-primary'%> -->
          </div>
          <%= render 'home/map' %>

          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>

        <div id="new_user"></div>

        <div class="col-lg-4">
          <h2>Leaderboard</h2>
          <p>Ruby code goes here</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>

      </div>
    </div>