<div id="exam_results">
  <div class="row">
    <h3>Results</h3>
    <div class="col-lg-7">

    </div>
     <div class="col-lg-7">

    </div>
  </div>



    <h4>This <%=@exam.topic %> Quiz </h4>
  <%- @questions.each do |question| %>

    <h1>Question <%= @question_number %> - <%= question.question.capitalize %></h1>

        <% question.answers.each do |answer| %>

                <% if !answer.correct? %>
                  <% answer %>
                <% end %>
<!--
                  <!%# if answer.id == attempt.answer_id && answer.correct?%>
                  <!%# answer.attempt %>
                <!%# end %>
 -->
        <% end %>
        <% end %>


</div>