<div class="mover">
<h4><%=@exam.topic %> Quiz </h4>
<h1>This is Question 1</h1>
<h2>Pick an Answer:</h2>
<table style="text-align: center; margin: 0 auto;">
  <tr>
    <td><button data-label="Model Versus Money" id="move_exam">Model Versus Money</button></td>
    <td><button data-label="Model Versus Money" id="move_exam">Model Versus Money</button></td>
        <td><button data-label="Model Versus Money" id="move_exam">Model Versus Money</button></td>
        <td><button data-label="Model Versus Money" id="move_exam">Model Versus Money</button></td>
  </tr>
</table>
</div>

