 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">QuizIt!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/exams/new">Create a Quiz</a></li>
            <li><a href="/exams">Take a Quiz</a></li>
          </ul>
          <div class="user_nav pull-right">
            <ul>
            <a href="/users/new"><p class="btn btn-primary btn-sm">Register</p></a>
            <span id="loginname"><%= login_nav %></span>
            <% if @auth %>
              <a href="/users/"><p class="btn btn-primary btn-sm">Users</p></a>
              <p class="btn btn-primary btn-sm"><%= link_to('My Profile', @auth, :class => "whitey")%></p>
            <% end %>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>